<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.webtest.dao.UserDao">

    <resultMap id="BaseResultMap" type="com.example.webtest.entity.User">
        <result column="id" jdbcType="INTEGER" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="email" jdbcType="VARCHAR" property="email" />
    </resultMap>

    <select id="Sel" resultMap="BaseResultMap">
        select * from user where id = #{id}
    </select>

    <select id="list" resultMap="BaseResultMap">
        select * from user
        <if test="start != null or end != null">
            limit #{start}, #{end}
        </if>

    </select>

    <insert id="Add">
        insert into user (username, password, email) values (
        #{userName}, #{passWord}, #{email}
        )
    </insert>



</mapper>